.container {
  background-color: #fff;
  height: calc(100vh - 2rem);
  width: calc(100vw - 2rem - 60px);
  border-radius: 5px;
  padding: 2rem;
  color: black;
}

.container .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}