.container {
  background-color: #fff;
  height: calc(100vh - 2rem);
  width: calc(100vw - 2rem - 60px);
  border-radius: 5px;
  padding: 2rem;
  color: black;
}

.container .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.container .title button {
  background-color: #131a4e;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.container .title button:hover {
  background-color: #333e92;
}

.container hr {
  color: #e0e0e0;
}

.container .filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.container .filter input {
  background-color: #e0e0e0;
  color: black;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.container .filter .options {
  display: flex;
  align-items: center;
  padding: 0.2rem;
  border-radius: 5px;
  background: #e0e0e0;
}

.container .filter .options select {
  background-color: transparent;
  color: black;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.container table {
  width: 100%;
}

.container table thead {
  background-color: #131a4e;
  color: white;
}

.container table thead th {
  padding: 1rem;
}

.container table tbody td {
  padding: 1rem;
}

.container table tbody tr:nth-child(even) {
  background-color: #e0e0e0;
}

.container table tbody tr td button {
  background-color: #33928d;
  color: white;
  border: none;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.container table tbody tr td .status {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.container table tbody tr td .actions {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.container .Pendiente,
.container .Retirar,
.container .Entregado,
.container .Devuelto {
  color: white;
  border: none;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  width: 50%;
  padding: 0.5rem;
}

.container .Pendiente {
  background-color: #ff9800;
}

.container .Retirar {
  background-color: #ff5722;
}

.container .Entregado {
  background-color: #4caf50;
}

.container .Devuelto {
  background-color: #2196f3;
}

.container .primary,
.container .danger {
  color: white;
  border: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
}

.container .primary {
  background-color: #131a4e;
}

.container .primary:hover {
  background-color: #333e92;
  color: white;
}

.container .danger {
  background-color: crimson;
}

.container .danger:hover {
  background-color: #cc0000;
  color: white;
}

.container .modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .modal .modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  width: 80%;
  max-width: 500px;
}

.container .modal .modal-content .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .modal .modal-content .header h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.container .modal .modal-content .header .close {
  background-color: red;
  border: none;
  width: 2rem;
  border-radius: 5px;
  height: 2rem;
  text-align: center;
  font-weight: 900;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.container .modal .modal-content .details p {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.container .modal .modal-content .order {
  max-height: 200px;
  overflow-y: scroll;
}

.container .modal .modal-content .footer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding-top: 1rem;
}

.container .modal .modal-content .footer button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  background: #4caf50;
}
